Дано несколько выгрузок с данными по пользователям, которые вошли в ту или иную воронку продаж. Часть из них посетили мастер-класс и далее оформили заказ и оплатили продукт. Все эти данные находятся в разных выгрузках.

Определить наиболее эффективные каналы привлечения и обосновать свои выводы с детальной раскладкой.
Что есть эффективные каналы? Я думаю это те, что привлекли больше всего человек сделавших заказы.

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [178]:
data = pd.read_csv('посетили вебинар.xlsx - ДАННЫЕ.csv', low_memory=False)
data.head()

,Unnamed: 0,Дата,Партнер,Имя участника,E-mail,Телефон,IP,Билет,Устройство,На вебинаре с,...,utm_banner,utm_phrase,utm_group,Ссылка входа,Переход с,c1,param1,param2,param3,cu1
0,09.05.2020 18:30,wish,NaN,Нина,NaN,"7,92E+10",5.165.168.20,NaN,моб,18:34,...,NaN,NaN,NaN,https://start.bizon365.ru/room/42858/wish,https://school.silavmisli.ru/forma-zhelaniya?g...,NaN,NaN,NaN,NaN,NaN
1,09.05.2020 18:30,wish,NaN,Меньшикова Ксения,NaN,"7,90E+10",5.139.77.171,NaN,моб,18:42,...,NaN,NaN,NaN,https://start.bizon365.ru/room/42858/wish,https://school.silavmisli.ru/forma-zhelaniya?g...,NaN,NaN,NaN,NaN,NaN
2,09.05.2020 18:30,wish,NaN,Настя,NaN,"7,92E+10",178.76.220.229,NaN,моб,18:53,...,NaN,NaN,NaN,https://start.bizon365.ru/room/42858/wish,https://school.silavmisli.ru/forma-zhelaniya?g...,NaN,NaN,NaN,NaN,NaN
3,09.05.2020 18:30,wish,NaN,Наталья,NaN,"7,90E+10",178.19.251.168,NaN,моб,18:29,...,NaN,NaN,NaN,https://start.bizon365.ru/room/42858/wish,https://school.silavmisli.ru/forma-zhelaniya?g...,NaN,NaN,NaN,NaN,NaN
4,09.05.2020 18:30,wish,NaN,Алёна Туголукова,NaN,"7,99E+10",77.238.248.146,NaN,моб,18:29,...,NaN,NaN,NaN,https://start.bizon365.ru/room/42858/wish,https://school.silavmisli.ru/forma-zhelaniya?g...,NaN,NaN,NaN,NaN,NaN

In [144]:
data2 = pd.read_csv('зарегистрировались.xlsx - Лист1.csv', low_memory=False)
data2.head()

,id,Email,Тип регистрации,Создан,Последняя активность,Имя,Фамилия,Телефон,Дата рождения,Возраст,...,utm_medium,utm_campaign,utm_term,utm_content,utm_group,ID партнера,Email партнера,ФИО партнера,ФИО менеджера,VK-ID
0,85740635,21rom88@mail.ru,Зарегистрировался самостоятельно,2020-05-01 00:13:38,2020-06-13 10:16:41,Алла,NaN,79781186362,NaN,NaN,...,pod_rolikom,NaN,lD4QB3F66cg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85747142,kiziljazi@gmail.com,Зарегистрировался самостоятельно,2020-05-01 01:10:16,2021-02-28 21:35:28,Ziyagul,Молдалиева,+996770192219,1982-10-29,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85747624,Irina-demchenko1975@yandex.ru,Зарегистрировался самостоятельно,2020-05-01 01:14:33,2021-03-06 13:49:56,Ирина,Демченко,79202629768,NaN,NaN,...,social,NaN,gqzZyz3TTBg,NaN,NaN,NaN,NaN,NaN,NaN,282199326.0
3,85750143,premika@bk.ru,Зарегистрировался самостоятельно,2020-05-01 01:49:10,2021-02-14 04:17:00,Ира,NaN,79817511088,NaN,NaN,...,cpc,rsya-marafon-jelanii|59080610,10255160957,voronka_jelaniya,NaN,NaN,NaN,NaN,NaN,NaN
4,85753326,lesaliss@mail.ru,Зарегистрировался самостоятельно,2020-05-01 02:46:46,2020-06-02 00:13:59,Алеся,Бибик,NaN,NaN,NaN,...,cpc,aliona_karusel28.02,karusel,voronka_love,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
data3 = pd.read_csv('заказы.xlsx - Лист1.csv', low_memory=False)
data3.head()

,ID заказа,Номер,ID пользователя,Пользователь,Email,Телефон,Дата создания,Дата оплаты,Title,Статус,...,Партнер (сессия),user_utm_source,user_utm_medium,user_utm_campaign,user_utm_content,user_utm_term,user_utm_group,user_gcpc,Теги,Теги предложений
0,37989773,15166,74593346.0,Ericka Janes,erickajanes@gmail.com,79299587027,2020-05-01 00:01:17,2020-05-01 00:02:12,Активация денежного магнита 2.0 (со скидкой),Завершен,...,NaN,YTube,social,NaN,NaN,31hrdi4pK-E,NaN,NaN,NaN,деньги|для Кода изобилия
1,37990266,15167,83743241.0,Людмила Корешкова,iuraduga@mail.ru,79272594387,2020-05-01 00:05:33,2020-05-01 00:07:56,Марафон по исполнению желания 2.0 Пакет Бизнес...,Завершен,...,NaN,blog,referral,NaN,NaN,priroda-myslej-transerfing-realnosti-2,NaN,NaN,NaN,NaN
2,37990315,15168,63694815.0,Yelena Kurash,alena26_k@mail.ru,+971509122643,2020-05-01 00:06:16,2020-05-01 00:07:50,Продление Покупка #10677. Медитативный практик...,Завершен,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,37990840,15169,63694815.0,Yelena Kurash,alena26_k@mail.ru,+971509122643,2020-05-01 00:13:34,NaN,Продление Покупка #10677. Медитативный практик...,Отменен,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,37992084,15172,85740635.0,Алла,21rom88@mail.ru,79781186362,2020-05-01 00:31:42,2020-05-01 00:33:29,ВИДЕО - ПРАКТИКУМ (со скидкой),Завершен,...,NaN,YTube,pod_rolikom,NaN,NaN,lD4QB3F66cg,NaN,NaN,NaN,NaN

1. Посчитали сколько человек привлек каждый канал
2. Отобрали привлекшие больше 1000 человек
3. Отбираем id всех людей привлеченных этими каналами
4. Смотрим сколько их них ОПЛАТИЛИ(в данных есть заказы, которые являются подарками) хоть один заказ и получаем список наиболее эффективных каналов привлечения

In [148]:
incoming_value = data2.utm_source.value_counts()
incoming_value[0:20]

insta-target         14826
YTube                14734
aliona_wish           9311
fb_am                 3498
instagram             3322
Instagram             1578
blog                  1535
YTube_podskazka       1473
ytube                 1394
YTube_pod_rolikom     1087
youtube.com            456
vk                     401
rassylka               343
getresponse            202
GetResponse            198
jilie                  147
facebook               136
click.mail.ru          109
ad                     108
google*                106
Name: utm_source, dtype: int64

In [149]:
most_incoming = incoming_value[incoming_value > 1000]
most_incoming.sum()

52758

In [150]:
most_incoming_list = []
for i in  most_incoming.index:
    most_incoming_list.append(i)
most_incoming_list

['insta-target',
 'YTube',
 'aliona_wish',
 'fb_am',
 'instagram',
 'Instagram',
 'blog',
 'YTube_podskazka',
 'ytube',
 'YTube_pod_rolikom']

In [151]:
data2['Телефон'].isnull().sum() # 16550 человек не написавших свой номер
data2['id'].isnull().sum()

0

In [152]:
data2['id'].dtype

dtype('int64')

In [153]:
data3.iloc[:,2]

0         74593346.0
1         83743241.0
2         63694815.0
3         63694815.0
4         85740635.0
            ...
19699    130253812.0
19700    130226707.0
19701     65182556.0
19702    128602378.0
19703    130301370.0
Name: ID пользователя, Length: 19704, dtype: float64

In [154]:
data2['id'] = pd.to_numeric(data2['id'], downcast='float')
data2['id']

0         85740632.0
1         85747144.0
2         85747624.0
3         85750144.0
4         85753328.0
            ...
59045    130302984.0
59046    130303472.0
59047    130303512.0
59048    130303696.0
59049    130303840.0
Name: id, Length: 59050, dtype: float32

In [155]:
most_incoming_id = data2.id[data2.utm_source.isin(most_incoming_list)].apply(str)
most_incoming_id

0         85740632.0
2         85747624.0
4         85753328.0
5         85757248.0
7         85760064.0
            ...
59045    130302984.0
59046    130303472.0
59047    130303512.0
59048    130303696.0
59049    130303840.0
Name: id, Length: 52758, dtype: object

In [156]:
data3['ID пользователя'] = data3['ID пользователя'].apply(str)
data3['ID пользователя']

0         74593346.0
1         83743241.0
2         63694815.0
3         63694815.0
4         85740635.0
            ...
19699    130253812.0
19700    130226707.0
19701     65182556.0
19702    128602378.0
19703    130301370.0
Name: ID пользователя, Length: 19704, dtype: object

In [157]:
effective_id = data3[(data3['ID пользователя'].isin(most_incoming_id)) & (pd.isnull(data3['Дата оплаты']) == False)]
effective_id.head()

,ID заказа,Номер,ID пользователя,Пользователь,Email,Телефон,Дата создания,Дата оплаты,Title,Статус,...,Партнер (сессия),user_utm_source,user_utm_medium,user_utm_campaign,user_utm_content,user_utm_term,user_utm_group,user_gcpc,Теги,Теги предложений
83,38130888,15261,85958096.0,Дмитрий,petrovdt@icloud.com,79264876846,2020-05-02 09:26:48,2020-05-02 09:32:10,"ПРАКТИКА ""Активация портала реальности"" (со ск...",Завершен,...,NaN,YTube,social,NaN,NaN,cTA22BQiPaA,NaN,NaN,NaN,воронка|желания|процесс
213,38338630,15393,85747624.0,Ирина Демченко,Irina-demchenko1975@yandex.ru,79202629768,2020-05-04 10:13:52,2020-05-04 10:57:18,"ПРАКТИКА ""Активация портала реальности"" (со ск...",Завершен,...,NaN,YTube,social,NaN,NaN,gqzZyz3TTBg,NaN,NaN,NaN,воронка|желания|процесс
332,38610568,15519,86896312.0,Карина Ямасипова,kamasipova@gmail.com,79174037230,2020-05-06 10:04:42,2020-05-06 10:06:19,ВИДЕО - ПРАКТИКУМ (со скидкой),Завершен,...,NaN,YTube,social,NaN,NaN,ONXtThRg9PU,NaN,NaN,NaN,NaN
397,38821159,15588,87283984.0,Tomiris Kulchikova,kulchikovatomik@mail.ru,77074157749,2020-05-07 21:56:34,2020-05-07 21:59:51,ВИДЕО - ПРАКТИКУМ (со скидкой),Завершен,...,NaN,YTube,social,NaN,NaN,xTPFgE439rU,NaN,NaN,NaN,NaN
412,38867715,15604,87071632.0,Valentina Gomanovskaya,Gomanovskaya.V@gmail.com,380936340931,2020-05-08 10:07:43,2020-05-08 10:14:06,"ПРАКТИКА ""Активация портала реальности"" (со ск...",Завершен,...,NaN,YTube,social,NaN,NaN,O1tcWB-ATR0,NaN,NaN,NaN,воронка|желания|процесс

In [158]:
effective_id.user_utm_source.value_counts()

YTube                325
insta-target         193
Instagram             52
blog                  38
YTube_podskazka       20
aliona_wish           19
YTube_pod_rolikom     19
fb_am                  6
youtube.com            3
google*                2
instagram              2
Name: user_utm_source, dtype: int64

Показать самые часто покупаемые продукты.
1. Отбираем оплаченные(не подаренные) и не отмененные заказы
2. Оставляем 5 наиболее популярных

In [5]:
data3.Title.value_counts()

Запись мастер-класса «Стань магнитом для больших денег»                                                                                                                                                               2306
ВИДЕО - ПРАКТИКУМ (со скидкой)                                                                                                                                                                                        2259
2.0 Эффективная программа по восстановлению любовных отношений (со скидкой)                                                                                                                                           1550
Подарок 17 медитаций к книге о любви                                                                                                                                                                                  1460
Интенсив "Три шага к большим деньгам" со скидкой                                                                                                                                                                      1380
                                                                                                                                                                                                                      ...
Продление Покупка #27166. Тренинг "2.0 Эффективная программа по восстановлению любовных отношений". 2.0 Эффективная программа по восстановлению любовных отношений. ПРИ ПРОДЛЕНИИ ДЕЙСТВУЕТ 50% СКИДКА [с сегодня]       1
Заявка #32261                                                                                                                                                                                                            1
Заявка #18037                                                                                                                                                                                                            1
Заявка #28721                                                                                                                                                                                                            1
Продление #30463. Тренинг "2.0 Эффективная программа по восстановлению любовных отношений". 2.0 Эффективная программа по восстановлению любовных отношений. ПРИ ПРОДЛЕНИИ ДЕЙСТВУЕТ 50% СКИДКА [с сегодня]               1
Name: Title, Length: 584, dtype: int64

In [162]:
sold_product = data3.Title[(data3['Статус'] == 'Завершен') & (pd.isnull(data3['Дата оплаты']) == False)]
sold_product.head()

0        Активация денежного магнита 2.0 (со скидкой)
1    Марафон по исполнению желания 2.0 Пакет Бизнес...
2    Продление Покупка #10677. Медитативный практик...
4                       ВИДЕО - ПРАКТИКУМ (со скидкой)
6    ПРАКТИКА "Активация портала реальности" (со ск...
Name: Title, dtype: object

In [164]:
sold_product.value_counts()[0:5]

ВИДЕО - ПРАКТИКУМ (со скидкой)                                                   1233
Интенсив "Три шага к большим деньгам" со скидкой                                  806
2.0 Эффективная программа по восстановлению любовных отношений (со скидкой)       794
Марафон по исполнению желаний за 30 дней с Елизаветой Волковой с Доп.Бонусами     614
Марафон любви к себе "Я у себя одна"                                              389
Name: Title, dtype: int64

Определить цикл сделки(время, которое проходит с момента первого касания с клиентом до момента получения денег)
1. Отбираем id людей которые оплатили заказ
2. Находим id  и дату регистрации тех, что есть в data2(Зарегестрированные)
3. Считаем среднее в разнице между даты оплаты и даты регистрации. 
Примерно 11 дней

In [165]:
id_money = data3['ID пользователя'][(data3['Статус'] == 'Завершен') & (pd.isnull(data3['Дата оплаты']) == False)]
id_money.value_counts()

85747624.0     9
82720227.0     8
65218940.0     8
90746118.0     8
74428925.0     8
              ..
106965165.0    1
76339492.0     1
121931455.0    1
103028137.0    1
63626289.0     1
Name: ID пользователя, Length: 6105, dtype: int64

In [167]:
data2['id'] = data2['id'].apply(str)
data2['id']

0         85740632.0
1         85747144.0
2         85747624.0
3         85750144.0
4         85753328.0
            ...
59045    130302984.0
59046    130303472.0
59047    130303512.0
59048    130303696.0
59049    130303840.0
Name: id, Length: 59050, dtype: object

In [169]:
reg_id_money = data2['id'][data2['id'].isin(id_money)]
reg_id_money
## Казалось бы количество людей здесь должно быть равно количеству людей сделавших заказ,
## а именно 6105. Видимо данные в data2 не полные (возможно отсутствуют старые клиенты)

2         85747624.0
20        85787528.0
77        85958096.0
110       86116936.0
133       86186224.0
            ...
56535    129773160.0
56545    129774824.0
57972    130076432.0
58024    130086344.0
58172    130106928.0
Name: id, Length: 547, dtype: object

In [173]:
time_reg = data2[data2['id'].isin(reg_id_money)]
time_reg = time_reg.iloc[:,[0,3]]
time_reg

                id               Создан
2       85747624.0  2020-05-01 01:14:33
20      85787528.0  2020-05-01 09:30:02
77      85958096.0  2020-05-02 06:30:09
110     86116936.0  2020-05-02 17:45:30
133     86186224.0  2020-05-02 23:22:34
...            ...                  ...
56535  129773160.0  2020-11-28 10:51:26
56545  129774824.0  2020-11-28 11:01:35
57972  130076432.0  2020-11-29 22:54:47
58024  130086344.0  2020-11-30 00:00:20
58172  130106928.0  2020-11-30 05:55:42

[547 rows x 2 columns]

In [174]:
time = data3[(data3['ID пользователя'].isin(time_reg['id'])) & (data3['Статус'] == 'Завершен')]
time = time.iloc[:,[2,7]]
time['Дата оплаты'] = pd.to_datetime(time['Дата оплаты'])
time = time.groupby(['ID пользователя'],sort=False).agg('min')
time.sort_index(ascending=False,inplace=True,axis=1)
time

                        Дата оплаты
ID пользователя
85958096.0      2020-05-02 09:32:10
86186224.0      2020-05-02 23:57:49
86445416.0      2020-05-04 09:34:48
85747624.0      2020-05-04 10:57:18
86116936.0      2020-05-04 14:19:29
...                             ...
129234792.0     2020-11-29 13:35:50
129526136.0     2020-11-30 11:53:43
130086344.0     2020-11-30 12:09:08
130106928.0     2020-11-30 06:22:13
130076432.0     2020-11-30 11:03:40

[540 rows x 1 columns]

In [175]:
time_reg['Создан'] = pd.to_datetime(time_reg['Создан'])
time_reg = time_reg.groupby(['id'],sort=False).agg('min')
time_reg.sort_index(ascending=False,inplace=True,axis=1)
time_reg

                         Создан
id
85747624.0  2020-05-01 01:14:33
85787528.0  2020-05-01 09:30:02
85958096.0  2020-05-02 06:30:09
86116936.0  2020-05-02 17:45:30
86186224.0  2020-05-02 23:22:34
...                         ...
129773160.0 2020-11-28 10:51:26
129774824.0 2020-11-28 11:01:35
130076432.0 2020-11-29 22:54:47
130086344.0 2020-11-30 00:00:20
130106928.0 2020-11-30 05:55:42

[540 rows x 1 columns]

In [176]:

((time['Дата оплаты']-time_reg['Создан']).dt.days).mean()

11.387037037037038